In [1]:
## imports
import pandas as pd
import numpy as np
import re
import requests
import yaml


## repeated printouts
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

# 1. Example 1: no credentials; no wrapper

Site: National Assessment of Education Progress (NAEP)

Documentation: https://www.nationsreportcard.gov/api_documentation.aspx

Base link: https://www.nationsreportcard.gov/DataService/GetAdhocData.aspx

## 1.1 Query to pull some data

In [4]:
## using their example query of 2011 writing scores separated by gender
## based on here - https://stackoverflow.com/questions/40836749/pythonic-way-of-writing-a-single-line-long-string
## using the ( ) syntax to formulate a long
## string without linebreaks added
example_naep_query = (
'https://www.nationsreportcard.gov/'
'Dataservice/GetAdhocData.aspx?'
'type=data&subject=writing&grade=8&'
'subscale=WRIRP&variable=GENDER&jurisdiction=NP&stattype=MN:MN&Year=2011')


example_naep_query

'https://www.nationsreportcard.gov/Dataservice/GetAdhocData.aspx?type=data&subject=writing&grade=8&subscale=WRIRP&variable=GENDER&jurisdiction=NP&stattype=MN:MN&Year=2011'

In [5]:
## use requests to call the api
naep_resp = requests.get(example_naep_query)
naep_resp
print(type(naep_resp))

## get the json contents of the response 
## here, we're assuming valid response
naep_resp_j = naep_resp.json()
naep_resp_j

## with result, turn it into a dataframe
naep_resp_d = pd.DataFrame(naep_resp_j['result'])
naep_resp_d

<class 'requests.models.Response'>

{'status': 200,
 'serviceVersion': '3.28.2025.1',
 'dwellTimeMS': '0',
 'avgWebHostCPUTotalLoad': 'N/A',
 'dataHitType': 'FROM_MEMORY',
 'Source': 'B11B',
 'result': [{'year': 2011,
   'sample': 'R3',
   'yearSampleLabel': '2011',
   'Cohort': 2,
   'CohortLabel': 'Grade 8',
   'stattype': 'MN:MN',
   'subject': 'WRI',
   'grade': 8,
   'scale': 'WRIRP',
   'jurisdiction': 'NP',
   'jurisLabel': 'National public',
   'variable': 'GENDER',
   'variableLabel': 'Gender',
   'varValue': '1',
   'varValueLabel': 'Male',
   'value': 139.099504632971,
   'isStatDisplayable': 1,
   'errorFlag': 0},
  {'year': 2011,
   'sample': 'R3',
   'yearSampleLabel': '2011',
   'Cohort': 2,
   'CohortLabel': 'Grade 8',
   'stattype': 'MN:MN',
   'subject': 'WRI',
   'grade': 8,
   'scale': 'WRIRP',
   'jurisdiction': 'NP',
   'jurisLabel': 'National public',
   'variable': 'GENDER',
   'variableLabel': 'Gender',
   'varValue': '2',
   'varValueLabel': 'Female',
   'value': 158.567104984955,
   'isStatDisplayable': 1,
   'errorFlag': 0}]}

,year,sample,yearSampleLabel,Cohort,CohortLabel,stattype,subject,grade,scale,jurisdiction,jurisLabel,variable,variableLabel,varValue,varValueLabel,value,isStatDisplayable,errorFlag
0,2011,R3,2011,2,Grade 8,MN:MN,WRI,8,WRIRP,NP,National public,GENDER,Gender,1,Male,139.099505,1,0
1,2011,R3,2011,2,Grade 8,MN:MN,WRI,8,WRIRP,NP,National public,GENDER,Gender,2,Female,158.567105,1,0

In [6]:
for i in range(5):
    print("Our current number is {}, the next is {}".format(i, i+1))

Our current number is 0, the next is 1
Our current number is 1, the next is 2
Our current number is 2, the next is 3
Our current number is 3, the next is 4
Our current number is 4, the next is 5

## 1.2 What happens if there's an error in our query?

In [8]:
## here's a query that from the documentation we know
## won't work since i modified year to 2025 which doesnt
## exist in the data
wrong_naep_query = (
'https://www.nationsreportcard.gov/'
'Dataservice/GetAdhocData.aspx?'
'type=data&subject=writing&grade=8&'
'subscale=WRIRP&variable=GENDER&jurisdiction=NP&stattype=MN:MN&Year=2028')

wrong_naep_query

'https://www.nationsreportcard.gov/Dataservice/GetAdhocData.aspx?type=data&subject=writing&grade=8&subscale=WRIRP&variable=GENDER&jurisdiction=NP&stattype=MN:MN&Year=2028'

In [9]:
## use requests to call the api
naep_wrong_resp = requests.get(wrong_naep_query)
naep_wrong_resp

In [10]:
## in the case of this particular api,
## the call returns some response but
## when we try to extract the json containing
## status or results, we get in an error
#naep_wrong_resp.json() # uncomment to see error

### 1.2.2 More all-purpose way of allowing remainder of calls to run: try, except

In [12]:
## putting it in a try; except as general error catching
try:
    results = naep_wrong_resp.json()['result']
except Exception as e:
    print('Failed to get result from API due to error:')
    print(e) # or just: pass

Failed to get result from API due to error:
Invalid control character at: line 1 column 293 (char 292)

### 1.2.3 Can usually also find more targeted way but that varies more across APIs

In [14]:
## if we wanted do more specific error catching,
## see that the status == 400 actually appears here
## so could write if else along those lines
naep_wrong_resp.text
naep_resp.text

if "System.Exception" in naep_wrong_resp.text:
    print("NAEP results not found")

'{"statusCode":400,"result": "System.Exception: The query \'SELECT DISTINCT Framework FROM Cycles WHERE Subject=\'WRI\' AND Cohort=2 AND CONVERT(VARCHAR(10),Year)+Sample IN (\'2028R3\')\' did not return exactly 1 framework. Make sure you can trend the years defined for the given subject and cohort.\r\n   at NRCDataService3.GetAdhocData.GetFramework(NDEContext& ndeContext, String subjectCode, List`1 yearSamples, String cohort) in C:\\projects\\ndecore2015\\NRCDataService2\\GetAdhocData.aspx.cs:line 2547\r\n   at NRCDataService3.GetAdhocData.PopulateBaseOrchestratorRequest() in C:\\projects\\ndecore2015\\NRCDataService2\\GetAdhocData.aspx.cs:line 2168\r\n   at NRCDataService3.GetAdhocData.ConstructRequest_Datapoint() in C:\\projects\\ndecore2015\\NRCDataService2\\GetAdhocData.aspx.cs:line 807\r\n   at NRCDataService3.GetAdhocData.Page_Load(Object sender, EventArgs e) in C:\\projects\\ndecore2015\\NRCDataService2\\GetAdhocData.aspx.cs:line 261"}'

'{"status":200,"serviceVersion":"3.28.2025.1","dwellTimeMS":"0","avgWebHostCPUTotalLoad":"N/A","dataHitType":"FROM_MEMORY","Source":"B11B","result": [{"year":2011,"sample":"R3","yearSampleLabel":"2011","Cohort":2,"CohortLabel":"Grade 8","stattype":"MN:MN","subject":"WRI","grade":8,"scale":"WRIRP","jurisdiction":"NP","jurisLabel":"National public","variable":"GENDER","variableLabel":"Gender","varValue":"1","varValueLabel":"Male","value":139.099504632971,"isStatDisplayable":1,"errorFlag":0},{"year":2011,"sample":"R3","yearSampleLabel":"2011","Cohort":2,"CohortLabel":"Grade 8","stattype":"MN:MN","subject":"WRI","grade":8,"scale":"WRIRP","jurisdiction":"NP","jurisLabel":"National public","variable":"GENDER","variableLabel":"Gender","varValue":"2","varValueLabel":"Female","value":158.567104984955,"isStatDisplayable":1,"errorFlag":0}]}'

NAEP results not found

## Activity 1: writing a function to make multiple, sequential calls

- Say we want to pull the data for grades 4, 8, and 12
- How can we write a function that iterates over a list of those grades and pulls the data for each grade?

**Note**: an ideal function would have arguments for each parameter in the API like subject, subscale, etc. Here we can leave those other parts constant

In [16]:
def get_grades(grades):
    result = pd.DataFrame()
    
    for grade in grades: 
        example_naep_query = (
            'https://www.nationsreportcard.gov/'
            'Dataservice/GetAdhocData.aspx?'
            f'type=data&subject=writing&grade={grade}&'
            'subscale=WRIRP&variable=GENDER&jurisdiction=NP&stattype=MN:MN&Year=2011')
        naep_resp = requests.get(example_naep_query)
        
        try: 
            naep_resp_j = naep_resp.json()
            naep_resp_j
            naep_resp_d = pd.DataFrame(naep_resp_j['result'])
            result = pd.concat([result,naep_resp_d]) 
        
        except Exception as e:
            print(e)
    return result

In [17]:
# your code here

grades = ['4','8','12']

R = []

for grade in grades: 
    example_naep_query = (
        'https://www.nationsreportcard.gov/'
        'Dataservice/GetAdhocData.aspx?'
        f'type=data&subject=writing&grade={grade}&'
        'subscale=WRIRP&variable=GENDER&jurisdiction=NP&stattype=MN:MN&Year=2011')
    naep_resp = requests.get(example_naep_query)
    
    try: 
        naep_resp_j = naep_resp.json()
        naep_resp_j
        naep_resp_d = pd.DataFrame(naep_resp_j['result'])
        # result = pd.concat([result,naep_resp_d]) 
        R.append(naep_resp_d)
    
    except Exception as e:
        print(e)
        
pd.concat(R)

Invalid control character at: line 1 column 293 (char 292)

{'status': 200,
 'serviceVersion': '3.28.2025.1',
 'dwellTimeMS': '15.6467',
 'avgWebHostCPUTotalLoad': 'N/A',
 'dataHitType': 'FROM_MEMORY',
 'Source': 'B11B',
 'result': [{'year': 2011,
   'sample': 'R3',
   'yearSampleLabel': '2011',
   'Cohort': 2,
   'CohortLabel': 'Grade 8',
   'stattype': 'MN:MN',
   'subject': 'WRI',
   'grade': 8,
   'scale': 'WRIRP',
   'jurisdiction': 'NP',
   'jurisLabel': 'National public',
   'variable': 'GENDER',
   'variableLabel': 'Gender',
   'varValue': '1',
   'varValueLabel': 'Male',
   'value': 139.099504632971,
   'isStatDisplayable': 1,
   'errorFlag': 0},
  {'year': 2011,
   'sample': 'R3',
   'yearSampleLabel': '2011',
   'Cohort': 2,
   'CohortLabel': 'Grade 8',
   'stattype': 'MN:MN',
   'subject': 'WRI',
   'grade': 8,
   'scale': 'WRIRP',
   'jurisdiction': 'NP',
   'jurisLabel': 'National public',
   'variable': 'GENDER',
   'variableLabel': 'Gender',
   'varValue': '2',
   'varValueLabel': 'Female',
   'value': 158.567104984955,
   'isStatDisplayable': 1,
   'errorFlag': 0}]}

{'status': 200,
 'serviceVersion': '3.28.2025.1',
 'dwellTimeMS': '0',
 'avgWebHostCPUTotalLoad': 'N/A',
 'dataHitType': 'FROM_MEMORY',
 'Source': 'B11B',
 'result': [{'year': 2011,
   'sample': 'R3',
   'yearSampleLabel': '2011',
   'Cohort': 3,
   'CohortLabel': 'Grade 12',
   'stattype': 'MN:MN',
   'subject': 'WRI',
   'grade': 12,
   'scale': 'WRIRP',
   'jurisdiction': 'NP',
   'jurisLabel': 'National public',
   'variable': 'GENDER',
   'variableLabel': 'Gender',
   'varValue': '1',
   'varValueLabel': 'Male',
   'value': 141.256977963264,
   'isStatDisplayable': 1,
   'errorFlag': 0},
  {'year': 2011,
   'sample': 'R3',
   'yearSampleLabel': '2011',
   'Cohort': 3,
   'CohortLabel': 'Grade 12',
   'stattype': 'MN:MN',
   'subject': 'WRI',
   'grade': 12,
   'scale': 'WRIRP',
   'jurisdiction': 'NP',
   'jurisLabel': 'National public',
   'variable': 'GENDER',
   'variableLabel': 'Gender',
   'varValue': '2',
   'varValueLabel': 'Female',
   'value': 155.385916780351,
   'isStatDisplayable': 1,
   'errorFlag': 0}]}

,year,sample,yearSampleLabel,Cohort,CohortLabel,stattype,subject,grade,scale,jurisdiction,jurisLabel,variable,variableLabel,varValue,varValueLabel,value,isStatDisplayable,errorFlag
0,2011,R3,2011,2,Grade 8,MN:MN,WRI,8,WRIRP,NP,National public,GENDER,Gender,1,Male,139.099505,1,0
1,2011,R3,2011,2,Grade 8,MN:MN,WRI,8,WRIRP,NP,National public,GENDER,Gender,2,Female,158.567105,1,0
0,2011,R3,2011,3,Grade 12,MN:MN,WRI,12,WRIRP,NP,National public,GENDER,Gender,1,Male,141.256978,1,0
1,2011,R3,2011,3,Grade 12,MN:MN,WRI,12,WRIRP,NP,National public,GENDER,Gender,2,Female,155.385917,1,0

# 2. Example 2: needs credentials; no wrapper

Create an account here: https://www.yelp.com/developers/v3/manage_app

In [20]:
## get the key
API_KEY = "1Gh9eKod5_-vX1otu_KEzcFphmJC58Kwb2qsJbcKPn76WUI7eW6biYfFe6R6Pmx_7NRaaQraF-Co_eLwcjvLl-DGQ4A0wHE8Z6WlFm9Bum6lEFvh9wiLufavouMtZXYx"

In [21]:
## use documentation to define what to search
## doc: https://www.yelp.com/developers/documentation/v3/business_search
## write the query 
base_url = "https://api.yelp.com/v3/businesses/search?"
my_name = "restaurants"
my_location = "Hanover,NH,03755"
yelp_genquery = ('{base_url}'
                'term={name}'
                '&location={loc}').format(base_url = base_url,
                name = my_name,
                loc = my_location)

## use requests to call the API; here, we're
## passing it our credentials (structure varies
## by API and telling it to only return 10 results
## (max is 50 at once)
header = {'Authorization': f"Bearer {API_KEY}"}
yelp_genresp = requests.get(yelp_genquery, headers = header)
yelp_genresp

## then, look at structure of response
yelp_genjson = yelp_genresp.json()

In [22]:
yelp_genjson['businesses'][0]

{'id': 'wyV_NfYn4ZOfp_sHMDPcAw',
 'alias': 'bistro-at-six-hanover',
 'name': 'Bistro at Six',
 'image_url': 'https://s3-media2.fl.yelpcdn.com/bphoto/i4jvssUsxa79VYVLOD3TmQ/o.jpg',
 'is_closed': False,
 'url': 'https://www.yelp.com/biz/bistro-at-six-hanover?adjust_creative=AYAiHNSGxz_RRHzq3cO46w&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=AYAiHNSGxz_RRHzq3cO46w',
 'review_count': 2,
 'categories': [{'alias': 'lounges', 'title': 'Lounges'},
  {'alias': 'cocktailbars', 'title': 'Cocktail Bars'},
  {'alias': 'tradamerican', 'title': 'American'}],
 'rating': 4.0,
 'coordinates': {'latitude': 43.7001146, 'longitude': -72.2877078},
 'transactions': [],
 'price': '$$',
 'location': {'address1': '6 E South St',
  'address2': None,
  'address3': '',
  'city': 'Hanover',
  'zip_code': '03755',
  'country': 'US',
  'state': 'NH',
  'display_address': ['6 E South St', 'Hanover, NH 03755']},
 'phone': '+16036430600',
 'display_phone': '(603) 643-0600',
 'distance': 198.65178837196856}

In [23]:
## example business
yelp_genjson['businesses'][0]

## more automatic way of summarizing but things end up in lists
## within columns for things like categories
yelp_gendf = pd.DataFrame(yelp_genjson['businesses'])
yelp_gendf.head()

{'id': 'wyV_NfYn4ZOfp_sHMDPcAw',
 'alias': 'bistro-at-six-hanover',
 'name': 'Bistro at Six',
 'image_url': 'https://s3-media2.fl.yelpcdn.com/bphoto/i4jvssUsxa79VYVLOD3TmQ/o.jpg',
 'is_closed': False,
 'url': 'https://www.yelp.com/biz/bistro-at-six-hanover?adjust_creative=AYAiHNSGxz_RRHzq3cO46w&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=AYAiHNSGxz_RRHzq3cO46w',
 'review_count': 2,
 'categories': [{'alias': 'lounges', 'title': 'Lounges'},
  {'alias': 'cocktailbars', 'title': 'Cocktail Bars'},
  {'alias': 'tradamerican', 'title': 'American'}],
 'rating': 4.0,
 'coordinates': {'latitude': 43.7001146, 'longitude': -72.2877078},
 'transactions': [],
 'price': '$$',
 'location': {'address1': '6 E South St',
  'address2': None,
  'address3': '',
  'city': 'Hanover',
  'zip_code': '03755',
  'country': 'US',
  'state': 'NH',
  'display_address': ['6 E South St', 'Hanover, NH 03755']},
 'phone': '+16036430600',
 'display_phone': '(603) 643-0600',
 'distance': 198.65178837196856}

,id,alias,name,image_url,is_closed,url,review_count,categories,rating,coordinates,transactions,price,location,phone,display_phone,distance
0,wyV_NfYn4ZOfp_sHMDPcAw,bistro-at-six-hanover,Bistro at Six,https://s3-media2.fl.yelpcdn.com/bphoto/i4jvss...,False,https://www.yelp.com/biz/bistro-at-six-hanover...,2,"[{'alias': 'lounges', 'title': 'Lounges'}, {'a...",4.0,"{'latitude': 43.7001146, 'longitude': -72.2877...",[],$$,"{'address1': '6 E South St', 'address2': None,...",+16036430600,(603) 643-0600,198.651788
1,XVGEEIH5rVB2QzW-qywcJw,base-camp-cafe-hanover,Base Camp Cafe,https://s3-media1.fl.yelpcdn.com/bphoto/p8_YiE...,False,https://www.yelp.com/biz/base-camp-cafe-hanove...,256,"[{'alias': 'himalayan', 'title': 'Himalayan/Ne...",4.4,"{'latitude': 43.700626, 'longitude': -72.2887803}",[delivery],$$,"{'address1': '3 Lebanon St', 'address2': 'Ste ...",+16036432007,(603) 643-2007,196.139758
2,8ybF6YyRldtZmU9jil4xlg,mollys-restaurant-and-bar-hanover,Molly's Restaurant & Bar,https://s3-media4.fl.yelpcdn.com/bphoto/TJLrrA...,False,https://www.yelp.com/biz/mollys-restaurant-and...,561,"[{'alias': 'tradamerican', 'title': 'American'...",3.9,"{'latitude': 43.701144, 'longitude': -72.2894249}",[delivery],$$,"{'address1': '43 South Main St', 'address2': '...",+16036432570,(603) 643-2570,250.830160
3,KA8yhrd-ClVYMyOefXdVYg,lous-restaurant-and-bakery-hanover,Lou's Restaurant & Bakery,https://s3-media3.fl.yelpcdn.com/bphoto/VAx8H9...,False,https://www.yelp.com/biz/lous-restaurant-and-b...,430,"[{'alias': 'tradamerican', 'title': 'American'...",4.2,"{'latitude': 43.70143, 'longitude': -72.289001}",[delivery],$$,"{'address1': '30 S Main St', 'address2': '', '...",+16036433321,(603) 643-3321,245.079232
4,5WW4g_LRwau29KyjZGLyAA,sawtooth-kitchen-hanover,Sawtooth Kitchen,https://s3-media3.fl.yelpcdn.com/bphoto/61MNG4...,False,https://www.yelp.com/biz/sawtooth-kitchen-hano...,30,"[{'alias': 'chickenshop', 'title': 'Chicken Sh...",4.2,"{'latitude': 43.70158, 'longitude': -72.289641}",[],NaN,"{'address1': '33 S Main St', 'address2': '', '...",+16036435134,(603) 643-5134,242.607552

In [24]:
## more data-specific way of summarizing
## we're doing a simple approach and just retaining
## cols that have a simple str structure
## if doing for real, would want to extract things
def clean_yelp_json(one_biz):

    ## restrict to str cols
    d_str = {key:value for key, value in one_biz.items()
             if type(value) == str}
    
    df_str = pd.DataFrame(d_str, index = [d_str['id']])
    return(df_str)

yelp_stronly = [clean_yelp_json(one_b) for one_b in yelp_genjson['businesses']]
yelp_stronly_df = pd.concat(yelp_stronly)

yelp_stronly_df.head(7)

,id,alias,name,image_url,url,price,phone,display_phone
wyV_NfYn4ZOfp_sHMDPcAw,wyV_NfYn4ZOfp_sHMDPcAw,bistro-at-six-hanover,Bistro at Six,https://s3-media2.fl.yelpcdn.com/bphoto/i4jvss...,https://www.yelp.com/biz/bistro-at-six-hanover...,$$,+16036430600,(603) 643-0600
XVGEEIH5rVB2QzW-qywcJw,XVGEEIH5rVB2QzW-qywcJw,base-camp-cafe-hanover,Base Camp Cafe,https://s3-media1.fl.yelpcdn.com/bphoto/p8_YiE...,https://www.yelp.com/biz/base-camp-cafe-hanove...,$$,+16036432007,(603) 643-2007
8ybF6YyRldtZmU9jil4xlg,8ybF6YyRldtZmU9jil4xlg,mollys-restaurant-and-bar-hanover,Molly's Restaurant & Bar,https://s3-media4.fl.yelpcdn.com/bphoto/TJLrrA...,https://www.yelp.com/biz/mollys-restaurant-and...,$$,+16036432570,(603) 643-2570
KA8yhrd-ClVYMyOefXdVYg,KA8yhrd-ClVYMyOefXdVYg,lous-restaurant-and-bakery-hanover,Lou's Restaurant & Bakery,https://s3-media3.fl.yelpcdn.com/bphoto/VAx8H9...,https://www.yelp.com/biz/lous-restaurant-and-b...,$$,+16036433321,(603) 643-3321
5WW4g_LRwau29KyjZGLyAA,5WW4g_LRwau29KyjZGLyAA,sawtooth-kitchen-hanover,Sawtooth Kitchen,https://s3-media3.fl.yelpcdn.com/bphoto/61MNG4...,https://www.yelp.com/biz/sawtooth-kitchen-hano...,NaN,+16036435134,(603) 643-5134
neBEWvgHNhsXIBImCYx_6A,neBEWvgHNhsXIBImCYx_6A,murphy-s-on-the-green-hanover,Murphy’s on the Green,https://s3-media2.fl.yelpcdn.com/bphoto/76DCQr...,https://www.yelp.com/biz/murphy-s-on-the-green...,$$,+16036434075,(603) 643-4075
34j_2nRCVQBTKafJvncZlg,34j_2nRCVQBTKafJvncZlg,pine-restaurant-hanover-2,PINE Restaurant,https://s3-media3.fl.yelpcdn.com/bphoto/c2SgUR...,https://www.yelp.com/biz/pine-restaurant-hanov...,$$$,+16036468000,(603) 646-8000

In [25]:
# change location
base_url = "https://api.yelp.com/v3/businesses/search?"
my_name = "restaurants"

my_location_tpe = "New York City,United States,10024"
yelp_genquery_tpe = ('{base_url}'
                'term={name}'
                '&location={loc}').format(base_url = base_url,
                name = my_name,
                loc = my_location_tpe)

## use requests to call the API
header = {'Authorization': f"Bearer {API_KEY}"}
yelp_genresp_tpe = requests.get(yelp_genquery_tpe, headers = header)
yelp_genresp_tpe

yelp_genresp_tpe.json()

{'businesses': [{'id': 'h9nuvIu8TyrQcYy8J1AOxg',
   'alias': 'the-ellington-new-york-4',
   'name': 'The Ellington',
   'image_url': 'https://s3-media1.fl.yelpcdn.com/bphoto/rVD8_DWEjEJBnYVa3r_ggQ/o.jpg',
   'is_closed': False,
   'url': 'https://www.yelp.com/biz/the-ellington-new-york-4?adjust_creative=AYAiHNSGxz_RRHzq3cO46w&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=AYAiHNSGxz_RRHzq3cO46w',
   'review_count': 312,
   'categories': [{'alias': 'tradamerican', 'title': 'American'},
    {'alias': 'bars', 'title': 'Bars'},
    {'alias': 'venues', 'title': 'Venues & Event Spaces'}],
   'rating': 4.6,
   'coordinates': {'latitude': 40.800868, 'longitude': -73.968243},
   'transactions': ['pickup', 'delivery'],
   'price': '$$',
   'location': {'address1': '2745 Broadway',
    'address2': None,
    'address3': '',
    'city': 'New York',
    'zip_code': '10025',
    'country': 'US',
    'state': 'NY',
    'display_address': ['2745 Broadway', 'New York, NY 10025']},
   'phone': '+12122813011',
   'display_phone': '(212) 281-3011',
   'distance': 577.8378386019316},
  {'id': 'LUjq-_hs89D5N1UGcmKAQw',
   'alias': 'spiga-new-york-2',
   'name': 'Spiga',
   'image_url': 'https://s3-media3.fl.yelpcdn.com/bphoto/ekPoIjmpD52e9LqMmZzH5A/o.jpg',
   'is_closed': False,
   'url': 'https://www.yelp.com/biz/spiga-new-york-2?adjust_creative=AYAiHNSGxz_RRHzq3cO46w&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=AYAiHNSGxz_RRHzq3cO46w',
   'review_count': 91,
   'categories': [{'alias': 'fooddeliveryservices',
     'title': 'Food Delivery Services'},
    {'alias': 'italian', 'title': 'Italian'},
    {'alias': 'personalchefs', 'title': 'Personal Chefs'}],
   'rating': 4.8,
   'coordinates': {'latitude': 40.7850762472345,
    'longitude': -73.9728921619309},
   'transactions': ['pickup', 'delivery'],
   'price': '$$',
   'location': {'address1': '57 W 84th St',
    'address2': '',
    'address3': None,
    'city': 'New York',
    'zip_code': '10024',
    'country': 'US',
    'state': 'NY',
    'display_address': ['57 W 84th St', 'New York, NY 10024']},
   'phone': '+12128740008',
   'display_phone': '(212) 874-0008',
   'distance': 1495.0271289821223},
  {'id': 'xt4sa64WOrpJvZBDPNPNYg',
   'alias': 'jacobs-pickles-new-york',
   'name': "Jacob's Pickles",
   'image_url': 'https://s3-media4.fl.yelpcdn.com/bphoto/UOq1Bl6hqcyHu5oMWAWRLg/o.jpg',
   'is_closed': False,
   'url': 'https://www.yelp.com/biz/jacobs-pickles-new-york?adjust_creative=AYAiHNSGxz_RRHzq3cO46w&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=AYAiHNSGxz_RRHzq3cO46w',
   'review_count': 5831,
   'categories': [{'alias': 'comfortfood', 'title': 'Comfort Food'},
    {'alias': 'southern', 'title': 'Southern'},
    {'alias': 'tradamerican', 'title': 'American'}],
   'rating': 4.2,
   'coordinates': {'latitude': 40.7866504411994,
    'longitude': -73.9755284786224},
   'transactions': ['pickup', 'delivery'],
   'price': '$$$',
   'location': {'address1': '509 Amsterdam Ave',
    'address2': '',
    'address3': '',
    'city': 'New York',
    'zip_code': '10024',
    'country': 'US',
    'state': 'NY',
    'display_address': ['509 Amsterdam Ave', 'New York, NY 10024']},
   'phone': '+12124705566',
   'display_phone': '(212) 470-5566',
   'distance': 1318.2725149329585},
  {'id': 'y6U7NWV5WK3tBmn53fK_8g',
   'alias': 'madison-edgewater-edgewater',
   'name': 'Madison - Edgewater',
   'image_url': 'https://s3-media3.fl.yelpcdn.com/bphoto/BZ3NFuxMCTLUVfV0wzpFkw/o.jpg',
   'is_closed': False,
   'url': 'https://www.yelp.com/biz/madison-edgewater-edgewater?adjust_creative=AYAiHNSGxz_RRHzq3cO46w&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=AYAiHNSGxz_RRHzq3cO46w',
   'review_count': 147,
   'categories': [{'alias': 'lebanese', 'title': 'Lebanese'},
    {'alias': 'breakfast_brunch', 'title': 'Breakfast & Brunch'},
    {'alias': 'tradamerican', 'title': 'American'}],
   'rating': 4.8,
   'coordinates': {'latitude': 40.802964, 'longitude': -73.993332},
   'transactions': ['pickup', 'delivery', 'restaurant_reservation'],
   'price': '$$',
   'location': {'address1': '4 Pembroke Pl',
    'address2': 'Ste 101',
    'address3': '',
    'city': 'Edgewater',
    'zip_code': '07020',
    'country': 'US',
    'state': 'NJ',
    'display_address': ['4 Pembroke Pl', 'Ste 101', 'Edgewater, NJ 07020']},
   'phone': '+12015714546',
   'display_phone': '(201) 571-4546',
   'distance': 1665.9922907835257},
  {'id': 'XsElXaLxUPKquI78poB8yw',
   'alias': 'maison-pickle-new-york',
   'name': 'Maison Pickle',
   'image_url': 'https://s3-media3.fl.yelpcdn.com/bphoto/0PKjE0oRZEbbjIYw2Z5uEA/o.jpg',
   'is_closed': False,
   'url': 'https://www.yelp.com/biz/maison-pickle-new-york?adjust_creative=AYAiHNSGxz_RRHzq3cO46w&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=AYAiHNSGxz_RRHzq3cO46w',
   'review_count': 2096,
   'categories': [{'alias': 'cocktailbars', 'title': 'Cocktail Bars'},
    {'alias': 'comfortfood', 'title': 'Comfort Food'},
    {'alias': 'breakfast_brunch', 'title': 'Breakfast & Brunch'}],
   'rating': 4.2,
   'coordinates': {'latitude': 40.7870473, 'longitude': -73.9781361},
   'transactions': ['pickup', 'delivery'],
   'price': '$$$',
   'location': {'address1': '2315 Broadway',
    'address2': '',
    'address3': None,
    'city': 'New York',
    'zip_code': '10024',
    'country': 'US',
    'state': 'NY',
    'display_address': ['2315 Broadway', 'New York, NY 10024']},
   'phone': '+12124969100',
   'display_phone': '(212) 496-9100',
   'distance': 1309.3404502805522},
  {'id': 'xEF3Kvd0yw74pjnlFB2Sgg',
   'alias': 'nobody-told-me-new-york',
   'name': 'Nobody Told Me',
   'image_url': 'https://s3-media2.fl.yelpcdn.com/bphoto/sqhopS8mmHawV4uvhUYOEA/o.jpg',
   'is_closed': False,
   'url': 'https://www.yelp.com/biz/nobody-told-me-new-york?adjust_creative=AYAiHNSGxz_RRHzq3cO46w&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=AYAiHNSGxz_RRHzq3cO46w',
   'review_count': 288,
   'categories': [{'alias': 'cocktailbars', 'title': 'Cocktail Bars'},
    {'alias': 'newamerican', 'title': 'New American'}],
   'rating': 4.3,
   'coordinates': {'latitude': 40.800806379326424,
    'longitude': -73.96519384340974},
   'transactions': ['pickup', 'delivery'],
   'price': '$$',
   'location': {'address1': '951 Amsterdam Ave',
    'address2': None,
    'address3': None,
    'city': 'New York',
    'zip_code': '10025',
    'country': 'US',
    'state': 'NY',
    'display_address': ['951 Amsterdam Ave', 'New York, NY 10025']},
   'phone': '',
   'display_phone': '',
   'distance': 815.6105900377813},
  {'id': 'YDHUVTkQ5ioHaPOMVwQjWQ',
   'alias': 'dagon-new-york',
   'name': 'Dagon',
   'image_url': 'https://s3-media4.fl.yelpcdn.com/bphoto/eRVd9maYfbsmPxR5mUM2og/o.jpg',
   'is_closed': False,
   'url': 'https://www.yelp.com/biz/dagon-new-york?adjust_creative=AYAiHNSGxz_RRHzq3cO46w&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=AYAiHNSGxz_RRHzq3cO46w',
   'review_count': 299,
   'categories': [{'alias': 'bars', 'title': 'Bars'},
    {'alias': 'mediterranean', 'title': 'Mediterranean'},
    {'alias': 'tapasmallplates', 'title': 'Tapas/Small Plates'}],
   'rating': 4.2,
   'coordinates': {'latitude': 40.7912711, 'longitude': -73.9738886},
   'transactions': ['pickup', 'delivery'],
   'price': '$$$',
   'location': {'address1': '2454 Broadway',
    'address2': None,
    'address3': '',
    'city': 'New York',
    'zip_code': '10024',
    'country': 'US',
    'state': 'NY',
    'display_address': ['2454 Broadway', 'New York, NY 10024']},
   'phone': '+12128732466',
   'display_phone': '(212) 873-2466',
   'distance': 802.0018243362751},
  {'id': 'w4aW7geanPgny-dxsDNkMA',
   'alias': 'moon-kee-new-york',
   'name': 'Moon Kee',
   'image_url': 'https://s3-media3.fl.yelpcdn.com/bphoto/mBFi4kOOhvBE2s8ceoZwDQ/o.jpg',
   'is_closed': False,
   'url': 'https://www.yelp.com/biz/moon-kee-new-york?adjust_creative=AYAiHNSGxz_RRHzq3cO46w&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=AYAiHNSGxz_RRHzq3cO46w',
   'review_count': 89,
   'categories': [{'alias': 'cantonese', 'title': 'Cantonese'},
    {'alias': 'dimsum', 'title': 'Dim Sum'},
    {'alias': 'hkcafe', 'title': 'Hong Kong Style Cafe'}],
   'rating': 4.2,
   'coordinates': {'latitude': 40.7973721, 'longitude': -73.9694833},
   'transactions': ['pickup', 'delivery'],
   'price': '$$',
   'location': {'address1': '2642 Broadway',
    'address2': '',
    'address3': None,
    'city': 'New York',
    'zip_code': '10025',
    'country': 'US',
    'state': 'NY',
    'display_address': ['2642 Broadway', 'New York, NY 10025']},
   'phone': '+16464389283',
   'display_phone': '(646) 438-9283',
   'distance': 430.0544825936375},
  {'id': 'XujJhk-uQQezYgxyx-YN5Q',
   'alias': 'parla-new-york',
   'name': 'Parla',
   'image_url': 'https://s3-media2.fl.yelpcdn.com/bphoto/FghftxmD9Fkb-LDr0SQGNw/o.jpg',
   'is_closed': False,
   'url': 'https://www.yelp.com/biz/parla-new-york?adjust_creative=AYAiHNSGxz_RRHzq3cO46w&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=AYAiHNSGxz_RRHzq3cO46w',
   'review_count': 161,
   'categories': [{'alias': 'pizza', 'title': 'Pizza'},
    {'alias': 'pastashops', 'title': 'Pasta Shops'},
    {'alias': 'cocktailbars', 'title': 'Cocktail Bars'}],
   'rating': 4.4,
   'coordinates': {'latitude': 40.779593, 'longitude': -73.977597},
   'transactions': [],
   'price': '$$',
   'location': {'address1': '320 Columbus Ave',
    'address2': '',
    'address3': None,
    'city': 'New York',
    'zip_code': '10023',
    'country': 'US',
    'state': 'NY',
    'display_address': ['320 Columbus Ave', 'New York, NY 10023']},
   'phone': '+12127029006',
   'display_phone': '(212) 702-9006',
   'distance': 2116.867468727511},
  {'id': 'WWyVq90yo4u3kWEj1Lr7rw',
   'alias': 'the-grand-feast-new-york',
   'name': 'The Grand Feast',
   'image_url': 'https://s3-media1.fl.yelpcdn.com/bphoto/SXEH1ZYgnRHmvMkIOLzVsQ/o.jpg',
   'is_closed': False,
   'url': 'https://www.yelp.com/biz/the-grand-feast-new-york?adjust_creative=AYAiHNSGxz_RRHzq3cO46w&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=AYAiHNSGxz_RRHzq3cO46w',
   'review_count': 55,
   'categories': [{'alias': 'breakfast_brunch', 'title': 'Breakfast & Brunch'},
    {'alias': 'newamerican', 'title': 'New American'},
    {'alias': 'wine_bars', 'title': 'Wine Bars'}],
   'rating': 4.7,
   'coordinates': {'latitude': 40.79780945429832,
    'longitude': -73.96786581500187},
   'transactions': ['pickup', 'delivery'],
   'price': '$$',
   'location': {'address1': '854 Amsterdam Ave',
    'address2': None,
    'address3': '',
    'city': 'New York',
    'zip_code': '10025',
    'country': 'US',
    'state': 'NY',
    'display_address': ['854 Amsterdam Ave', 'New York, NY 10025']},
   'phone': '+19174090772',
   'display_phone': '(917) 409-0772',
   'distance': 553.3384646516215},
  {'id': 'RPP_wHhM8yZYIP5W-YHk6Q',
   'alias': 'fumo-new-york-14',
   'name': 'Fumo',
   'image_url': 'https://s3-media2.fl.yelpcdn.com/bphoto/i7BCQcsHLuzdSe3A_6Vjag/o.jpg',
   'is_closed': False,
   'url': 'https://www.yelp.com/biz/fumo-new-york-14?adjust_creative=AYAiHNSGxz_RRHzq3cO46w&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=AYAiHNSGxz_RRHzq3cO46w',
   'review_count': 319,
   'categories': [{'alias': 'italian', 'title': 'Italian'},
    {'alias': 'bars', 'title': 'Bars'},
    {'alias': 'pizza', 'title': 'Pizza'}],
   'rating': 4.1,
   'coordinates': {'latitude': 40.80285617298625, 'longitude': -73.968119},
   'transactions': ['pickup', 'delivery'],
   'price': '$$',
   'location': {'address1': '2791 Broadway',
    'address2': '',
    'address3': None,
    'city': 'New York',
    'zip_code': '10025',
    'country': 'US',
    'state': 'NY',
    'display_address': ['2791 Broadway', 'New York, NY 10025']},
   'phone': '+16468222921',
   'display_phone': '(646) 822-2921',
   'distance': 717.7817484860617},
  {'id': 'ME0627wYk0ikhX2yf1fN7w',
   'alias': 'haven-riverfront-restaurant-and-bar-edgewater-2',
   'name': 'HAVEN Riverfront Restaurant and Bar',
   'image_url': 'https://s3-media2.fl.yelpcdn.com/bphoto/xIHURsROaUAohF4FkX9dyA/o.jpg',
   'is_closed': False,
   'url': 'https://www.yelp.com/biz/haven-riverfront-restaurant-and-bar-edgewater-2?adjust_creative=AYAiHNSGxz_RRHzq3cO46w&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=AYAiHNSGxz_RRHzq3cO46w',
   'review_count': 1342,
   'categories': [{'alias': 'newamerican', 'title': 'New American'},
    {'alias': 'seafood', 'title': 'Seafood'},
    {'alias': 'bars', 'title': 'Bars'}],
   'rating': 4.0,
   'coordinates': {'latitude': 40.80345868061295,
    'longitude': -73.99103358078574},
   'transactions': ['pickup', 'delivery'],
   'price': '$$$',
   'location': {'address1': '2 Main St',
    'address2': 'Ste G',
    'address3': '',
    'city': 'Edgewater',
    'zip_code': '07020',
    'country': 'US',
    'state': 'NJ',
    'display_address': ['2 Main St', 'Ste G', 'Edgewater, NJ 07020']},
   'phone': '+12019431900',
   'display_phone': '(201) 943-1900',
   'distance': 1507.3385635079458},
  {'id': 'UAMbfUodEHMAIHTltCtyLA',
   'alias': 'the-shell-restaurant-new-york',
   'name': 'The Shell Restaurant',
   'image_url': 'https://s3-media4.fl.yelpcdn.com/bphoto/3OfpFgFHMsfM3NyiCE81Og/o.jpg',
   'is_closed': False,
   'url': 'https://www.yelp.com/biz/the-shell-restaurant-new-york?adjust_creative=AYAiHNSGxz_RRHzq3cO46w&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=AYAiHNSGxz_RRHzq3cO46w',
   'review_count': 125,
   'categories': [{'alias': 'seafood', 'title': 'Seafood'},
    {'alias': 'mediterranean', 'title': 'Mediterranean'},
    {'alias': 'cocktailbars', 'title': 'Cocktail Bars'}],
   'rating': 4.8,
   'coordinates': {'latitude': 40.79059, 'longitude': -73.97244},
   'transactions': ['pickup', 'delivery', 'restaurant_reservation'],
   'location': {'address1': '635 Amsterdam Ave',
    'address2': '',
    'address3': '',
    'city': 'New York',
    'zip_code': '10025',
    'country': 'US',
    'state': 'NY',
    'display_address': ['635 Amsterdam Ave', 'New York, NY 10025']},
   'phone': '+16466697628',
   'display_phone': '(646) 669-7628',
   'distance': 888.1128963531398},
  {'id': 'B87c3bE_u53yNYO1cmHSIw',
   'alias': 'flor-de-mayo-new-york-3',
   'name': 'Flor de Mayo',
   'image_url': 'https://s3-media2.fl.yelpcdn.com/bphoto/xbRll1kivRlj1mMHlWJ9Zw/o.jpg',
   'is_closed': False,
   'url': 'https://www.yelp.com/biz/flor-de-mayo-new-york-3?adjust_creative=AYAiHNSGxz_RRHzq3cO46w&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=AYAiHNSGxz_RRHzq3cO46w',
   'review_count': 679,
   'categories': [{'alias': 'chinese', 'title': 'Chinese'},
    {'alias': 'peruvian', 'title': 'Peruvian'},
    {'alias': 'cuban', 'title': 'Cuban'}],
   'rating': 3.9,
   'coordinates': {'latitude': 40.797859, 'longitude': -73.969948},
   'transactions': ['pickup', 'delivery'],
   'price': '$$',
   'location': {'address1': '2651 Broadway',
    'address2': '',
    'address3': '',
    'city': 'New York',
    'zip_code': '10025',
    'country': 'US',
    'state': 'NY',
    'display_address': ['2651 Broadway', 'New York, NY 10025']},
   'phone': '+12126635520',
   'display_phone': '(212) 663-5520',
   'distance': 379.32701493025974},
  {'id': '7ERwg_4Kiaq1ezKTSSv7pg',
   'alias': 'taqueria-86-new-york',
   'name': 'Taqueria 86',
   'image_url': 'https://s3-media2.fl.yelpcdn.com/bphoto/LmE3eYuGQf8r8BYoXkXYhg/o.jpg',
   'is_closed': False,
   'url': 'https://www.yelp.com/biz/taqueria-86-new-york?adjust_creative=AYAiHNSGxz_RRHzq3cO46w&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=AYAiHNSGxz_RRHzq3cO46w',
   'review_count': 151,
   'categories': [{'alias': 'mexican', 'title': 'Mexican'}],
   'rating': 4.5,
   'coordinates': {'latitude': 40.793, 'longitude': -73.97214},
   'transactions': ['pickup', 'delivery'],
   'price': '$$',
   'location': {'address1': '210 W 94th St',
    'address2': None,
    'address3': '',
    'city': 'New York',
    'zip_code': '10025',
    'country': 'US',
    'state': 'NY',
    'display_address': ['210 W 94th St', 'New York, NY 10025']},
   'phone': '+19176757727',
   'display_phone': '(917) 675-7727',
   'distance': 640.4854370112844},
  {'id': 'Ak_x6wJFehWnnitAk332QA',
   'alias': 'the-wolfe-new-york',
   'name': 'The Wolfe',
   'image_url': 'https://s3-media3.fl.yelpcdn.com/bphoto/Z5_B-oqRpXbIzK6kFPwxPQ/o.jpg',
   'is_closed': False,
   'url': 'https://www.yelp.com/biz/the-wolfe-new-york?adjust_creative=AYAiHNSGxz_RRHzq3cO46w&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=AYAiHNSGxz_RRHzq3cO46w',
   'review_count': 77,
   'categories': [{'alias': 'tradamerican', 'title': 'American'},
    {'alias': 'sportsbars', 'title': 'Sports Bars'},
    {'alias': 'cocktailbars', 'title': 'Cocktail Bars'}],
   'rating': 4.2,
   'coordinates': {'latitude': 40.783945, 'longitude': -73.977377},
   'transactions': ['pickup', 'delivery'],
   'location': {'address1': '425 Amsterdam Ave',
    'address2': None,
    'address3': None,
    'city': 'New York',
    'zip_code': '10024',
    'country': 'US',
    'state': 'NY',
    'display_address': ['425 Amsterdam Ave', 'New York, NY 10024']},
   'phone': '+16468761004',
   'display_phone': '(646) 876-1004',
   'distance': 1635.1324637472576},
  {'id': 'TzhAlljC_843JO7UDDUIaQ',
   'alias': 'the-tang-upper-west-side-new-york',
   'name': 'The Tang - Upper West Side',
   'image_url': 'https://s3-media3.fl.yelpcdn.com/bphoto/k5koHOLaR71xNiwwgI8Bgw/o.jpg',
   'is_closed': False,
   'url': 'https://www.yelp.com/biz/the-tang-upper-west-side-new-york?adjust_creative=AYAiHNSGxz_RRHzq3cO46w&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=AYAiHNSGxz_RRHzq3cO46w',
   'review_count': 336,
   'categories': [{'alias': 'noodles', 'title': 'Noodles'},
    {'alias': 'szechuan', 'title': 'Szechuan'},
    {'alias': 'dimsum', 'title': 'Dim Sum'}],
   'rating': 4.2,
   'coordinates': {'latitude': 40.80006, 'longitude': -73.96639},
   'transactions': ['pickup', 'delivery'],
   'price': '$$',
   'location': {'address1': '920 Amsterdam Ave',
    'address2': None,
    'address3': '',
    'city': 'New York',
    'zip_code': '10025',
    'country': 'US',
    'state': 'NY',
    'display_address': ['920 Amsterdam Ave', 'New York, NY 10025']},
   'phone': '+16465967970',
   'display_phone': '(646) 596-7970',
   'distance': 695.0551873465672},
  {'id': 'BexNFvRW1iMV1kiPwzzyiw',
   'alias': 'mala-town-new-york',
   'name': 'Mala Town',
   'image_url': 'https://s3-media3.fl.yelpcdn.com/bphoto/EIkSedYOuA950zyciwlP9Q/o.jpg',
   'is_closed': False,
   'url': 'https://www.yelp.com/biz/mala-town-new-york?adjust_creative=AYAiHNSGxz_RRHzq3cO46w&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=AYAiHNSGxz_RRHzq3cO46w',
   'review_count': 28,
   'categories': [{'alias': 'hotpot', 'title': 'Hot Pot'},
    {'alias': 'szechuan', 'title': 'Szechuan'},
    {'alias': 'seafood', 'title': 'Seafood'}],
   'rating': 4.6,
   'coordinates': {'latitude': 40.799988, 'longitude': -73.965637},
   'transactions': ['pickup', 'delivery'],
   'location': {'address1': '929 Amsterdam Ave',
    'address2': None,
    'address3': '',
    'city': 'New York',
    'zip_code': '10025',
    'country': 'US',
    'state': 'NY',
    'display_address': ['929 Amsterdam Ave', 'New York, NY 10025']},
   'phone': '+12125311140',
   'display_phone': '(212) 531-1140',
   'distance': 757.8710390291026},
  {'id': 'sKIYGvENchifk1YwFe77pA',
   'alias': 'saiguette-new-york-2',
   'name': 'Saiguette',
   'image_url': 'https://s3-media1.fl.yelpcdn.com/bphoto/xxxqmi9wORZOgVplN4KJKw/o.jpg',
   'is_closed': False,

In [26]:
yelp_genjson_tpe = yelp_genresp_tpe.json()

## turn JSON into usable data (DF)
yelp_gendf = pd.DataFrame(yelp_genjson_tpe['businesses'])
#list(yelp_gendf_marlow) # list columns
yelp_gendf['location1'] = yelp_gendf.location.apply(lambda loclist: loclist['address1'])
yelp_gendf[['alias', 'name', 'url', 'review_count', 'rating', 'location1', 'price']]

,alias,name,url,review_count,rating,location1,price
0,the-ellington-new-york-4,The Ellington,https://www.yelp.com/biz/the-ellington-new-yor...,312,4.6,2745 Broadway,$$
1,spiga-new-york-2,Spiga,https://www.yelp.com/biz/spiga-new-york-2?adju...,91,4.8,57 W 84th St,$$
2,jacobs-pickles-new-york,Jacob's Pickles,https://www.yelp.com/biz/jacobs-pickles-new-yo...,5831,4.2,509 Amsterdam Ave,$$$
3,madison-edgewater-edgewater,Madison - Edgewater,https://www.yelp.com/biz/madison-edgewater-edg...,147,4.8,4 Pembroke Pl,$$
4,maison-pickle-new-york,Maison Pickle,https://www.yelp.com/biz/maison-pickle-new-yor...,2096,4.2,2315 Broadway,$$$
5,nobody-told-me-new-york,Nobody Told Me,https://www.yelp.com/biz/nobody-told-me-new-yo...,288,4.3,951 Amsterdam Ave,$$
6,dagon-new-york,Dagon,https://www.yelp.com/biz/dagon-new-york?adjust...,299,4.2,2454 Broadway,$$$
7,moon-kee-new-york,Moon Kee,https://www.yelp.com/biz/moon-kee-new-york?adj...,89,4.2,2642 Broadway,$$
8,parla-new-york,Parla,https://www.yelp.com/biz/parla-new-york?adjust...,161,4.4,320 Columbus Ave,$$
9,the-grand-feast-new-york,The Grand Feast,https://www.yelp.com/biz/the-grand-feast-new-y...,55,4.7,854 Amsterdam Ave,$$
10,fumo-new-york-14,Fumo,https://www.yelp.com/biz/fumo-new-york-14?adju...,319,4.1,2791 Broadway,$$
11,haven-riverfront-restaurant-and-bar-edgewater-2,HAVEN Riverfront Restaurant and Bar,https://www.yelp.com/biz/haven-riverfront-rest...,1342,4.0,2 Main St,$$$
12,the-shell-restaurant-new-york,The Shell Restaurant,https://www.yelp.com/biz/the-shell-restaurant-...,125,4.8,635 Amsterdam Ave,NaN
13,flor-de-mayo-new-york-3,Flor de Mayo,https://www.yelp.com/biz/flor-de-mayo-new-york...,679,3.9,2651 Broadway,$$
14,taqueria-86-new-york,Taqueria 86,https://www.yelp.com/biz/taqueria-86-new-york?...,151,4.5,210 W 94th St,$$
15,the-wolfe-new-york,The Wolfe,https://www.yelp.com/biz/the-wolfe-new-york?ad...,77,4.2,425 Amsterdam Ave,NaN
16,the-tang-upper-west-side-new-york,The Tang - Upper West Side,https://www.yelp.com/biz/the-tang-upper-west-s...,336,4.2,920 Amsterdam Ave,$$
17,mala-town-new-york,Mala Town,https://www.yelp.com/biz/mala-town-new-york?ad...,28,4.6,929 Amsterdam Ave,NaN
18,saiguette-new-york-2,Saiguette,https://www.yelp.com/biz/saiguette-new-york-2?...,787,4.4,935 Columbus Ave,$$
19,banh-new-york-3,Banh,https://www.yelp.com/biz/banh-new-york-3?adjus...,333,4.4,942 Amsterdam Ave,$$

In [27]:
# change location
base_url = "https://api.yelp.com/v3/businesses/search?"
my_name = "restaurants"

my_location_tpe = "New York City, New York, 10024"
yelp_genquery_tpe = ('{base_url}'
                'term={name}'
                '&location={loc}').format(base_url = base_url,
                name = my_name,
                loc = my_location_tpe)

## use requests to call the API
header = {'Authorization': f"Bearer {API_KEY}"}
yelp_genresp_tpe = requests.get(yelp_genquery_tpe, headers = header)
# yelp_genresp_tpe

# yelp_genresp_tpe.json()

yelp_genjson_tpe = yelp_genresp_tpe.json()

## turn JSON into usable data (DF)
yelp_gendf = pd.DataFrame(yelp_genjson_tpe['businesses'])
#list(yelp_gendf_marlow) # list columns
yelp_gendf['location1'] = yelp_gendf.location.apply(lambda loclist: loclist['address1'])
yelp_gendf[['alias', 'name', 'url', 'review_count', 'rating', 'location1', 'price']]

,alias,name,url,review_count,rating,location1,price
0,the-ellington-new-york-4,The Ellington,https://www.yelp.com/biz/the-ellington-new-yor...,312,4.6,2745 Broadway,$$
1,spiga-new-york-2,Spiga,https://www.yelp.com/biz/spiga-new-york-2?adju...,91,4.8,57 W 84th St,$$
2,jacobs-pickles-new-york,Jacob's Pickles,https://www.yelp.com/biz/jacobs-pickles-new-yo...,5831,4.2,509 Amsterdam Ave,$$$
3,madison-edgewater-edgewater,Madison - Edgewater,https://www.yelp.com/biz/madison-edgewater-edg...,147,4.8,4 Pembroke Pl,$$
4,maison-pickle-new-york,Maison Pickle,https://www.yelp.com/biz/maison-pickle-new-yor...,2096,4.2,2315 Broadway,$$$
5,nobody-told-me-new-york,Nobody Told Me,https://www.yelp.com/biz/nobody-told-me-new-yo...,288,4.3,951 Amsterdam Ave,$$
6,dagon-new-york,Dagon,https://www.yelp.com/biz/dagon-new-york?adjust...,299,4.2,2454 Broadway,$$$
7,moon-kee-new-york,Moon Kee,https://www.yelp.com/biz/moon-kee-new-york?adj...,89,4.2,2642 Broadway,$$
8,parla-new-york,Parla,https://www.yelp.com/biz/parla-new-york?adjust...,161,4.4,320 Columbus Ave,$$
9,the-grand-feast-new-york,The Grand Feast,https://www.yelp.com/biz/the-grand-feast-new-y...,55,4.7,854 Amsterdam Ave,$$
10,fumo-new-york-14,Fumo,https://www.yelp.com/biz/fumo-new-york-14?adju...,319,4.1,2791 Broadway,$$
11,haven-riverfront-restaurant-and-bar-edgewater-2,HAVEN Riverfront Restaurant and Bar,https://www.yelp.com/biz/haven-riverfront-rest...,1342,4.0,2 Main St,$$$
12,the-shell-restaurant-new-york,The Shell Restaurant,https://www.yelp.com/biz/the-shell-restaurant-...,125,4.8,635 Amsterdam Ave,NaN
13,flor-de-mayo-new-york-3,Flor de Mayo,https://www.yelp.com/biz/flor-de-mayo-new-york...,679,3.9,2651 Broadway,$$
14,taqueria-86-new-york,Taqueria 86,https://www.yelp.com/biz/taqueria-86-new-york?...,151,4.5,210 W 94th St,$$
15,the-wolfe-new-york,The Wolfe,https://www.yelp.com/biz/the-wolfe-new-york?ad...,77,4.2,425 Amsterdam Ave,NaN
16,the-tang-upper-west-side-new-york,The Tang - Upper West Side,https://www.yelp.com/biz/the-tang-upper-west-s...,336,4.2,920 Amsterdam Ave,$$
17,mala-town-new-york,Mala Town,https://www.yelp.com/biz/mala-town-new-york?ad...,28,4.6,929 Amsterdam Ave,NaN
18,saiguette-new-york-2,Saiguette,https://www.yelp.com/biz/saiguette-new-york-2?...,787,4.4,935 Columbus Ave,$$
19,banh-new-york-3,Banh,https://www.yelp.com/biz/banh-new-york-3?adjus...,333,4.4,942 Amsterdam Ave,$$

# Activity 2: pull restaurants in a different location

- Try running a business search query for your hometown or another place by constructing a query similar to `yelp_genquery` but changing the location parameter
- Other endpoints require feeding what's called the business' fusion id into the API. Take an id from `yelp_stronly.id` and use the documentation here to pull the reviews for that business: https://docs.developer.yelp.com/reference/v3_business_reviews
- **Challenge**: generalize the previous step by writing a function that (1) takes a list of business ids as an input, (2) calls the reviews API for each id, (3) returns the results, and (4) rowbinds all results, i.e. turns them into a single, usable DataFrame

In [62]:
# your code here
biz_id = "xt4sa64WOrpJvZBDPNPNYg"

In [64]:
# look at reviews of business with this id
base_url_reviews = f'https://api.yelp.com/v3/businesses/{biz_id}/reviews'
yelp_genquery_reviews = (base_url_reviews)

## use requests to call the API
header = {'Authorization': f"Bearer {API_KEY}"}
yelp_genresp_reviews = requests.get(yelp_genquery_reviews, headers = header)
yelp_genresp_reviews

## then, look at structure of response
yelp_genjson_reviews = yelp_genresp_reviews.json()
yelp_genjson_reviews

{'reviews': [{'id': 'K8O5pzwE8-8yKLdAyZiJ5g',
   'url': 'https://www.yelp.com/biz/jacobs-pickles-new-york?adjust_creative=AYAiHNSGxz_RRHzq3cO46w&hrid=K8O5pzwE8-8yKLdAyZiJ5g&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_reviews&utm_source=AYAiHNSGxz_RRHzq3cO46w',
   'text': "I love pickles, make my own pickles, order pickles when possible every where I go. Made a special trip to Jacob's pickles to get a pickle flight and try the...",
   'rating': 3,
   'time_created': '2025-03-24 13:26:04',
   'user': {'id': 'poPW9m3A8fAN91J204fPZA',
    'profile_url': 'https://www.yelp.com/user_details?userid=poPW9m3A8fAN91J204fPZA',
    'image_url': None,
    'name': 'Megan B.'}},
  {'id': 'qwJYJ6dIOtAgu9bAyyA7zg',
   'url': 'https://www.yelp.com/biz/jacobs-pickles-new-york?adjust_creative=AYAiHNSGxz_RRHzq3cO46w&hrid=qwJYJ6dIOtAgu9bAyyA7zg&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_reviews&utm_source=AYAiHNSGxz_RRHzq3cO46w',
   'text': 'I am coming back here!! The food is soo good and I love how the theme is pickles. If you are in a bigger group I would recommend trying the pickle sampler....',
   'rating': 5,
   'time_created': '2025-04-28 17:11:26',
   'user': {'id': 'dZPxYaX7clAa-YOkyOwm-g',
    'profile_url': 'https://www.yelp.com/user_details?userid=dZPxYaX7clAa-YOkyOwm-g',
    'image_url': 'https://s3-media3.fl.yelpcdn.com/photo/RnVZ3C2Blg3gFGEXHZJD0g/o.jpg',
    'name': 'Joyce L.'}},
  {'id': '5iBQNH7gWlCNE5Y7yPClyw',
   'url': 'https://www.yelp.com/biz/jacobs-pickles-new-york?adjust_creative=AYAiHNSGxz_RRHzq3cO46w&hrid=5iBQNH7gWlCNE5Y7yPClyw&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_reviews&utm_source=AYAiHNSGxz_RRHzq3cO46w',
   'text': 'A really nice place - beautiful decor and great ambience . The food was also very good -\n1) started w the pickles platter - 10$ for 8 different servings ....',
   'rating': 4,
   'time_created': '2025-04-11 20:51:35',
   'user': {'id': 'Ck43vuJu1c399KZonEvLjQ',
    'profile_url': 'https://www.yelp.com/user_details?userid=Ck43vuJu1c399KZonEvLjQ',
    'image_url': 'https://s3-media2.fl.yelpcdn.com/photo/oP4FKiS1ns32bAhg44PJCw/o.jpg',
    'name': 'Yarn Y.'}}],
 'total': 5831,
 'possible_languages': ['en', 'fr', 'sv', 'es', 'pt', 'zh', 'it']}